<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="Hashtag">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>Hashtags</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Map">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>Maps</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Tweet">
      <ion-icon name="square"></ion-icon>
      <ion-label>Tweets</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="User">
      <ion-icon name="square"></ion-icon>
      <ion-label>Users</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
